.selector-for-some-widget {
    box-sizing: content-box;
  }
  
.sbox{
  display: flex;
  
}
.ibox{
  border: 3px solid black;
  height: 200px;
  width: 30%;
}
.cbox{
  border: 3px solid black;
  height: 200px;
  width: 70%;
}
.foot{
  border: 2px solid lightgreen;
  background-color: blue;
}
.socmed{
  display: flex;
  justify-content: center;
  color: white;
}