.bgimg{
  background-image: url(./bgpic.png) ;
  background-repeat: no-repeat;
  width: 100vw;
  height: 500px;
  padding: 0;
  margin: 0;
}
.title{
  text-align: center;
  background-color: black;
  color: orangered;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}